# {{ ansible_managed }}

OCIS_URL={{ ocis_env_url }}
PROXY_HTTP_ADDR={{ ocis_env_proxy_http_address }}
PROXY_TLS={{ ocis_env_proxy_tls | lower }}
OCIS_INSECURE={{ ocis_env_insecure | lower }}

OCIS_LOG_LEVEL={{ ocis_env_log_level }}

OCIS_CONFIG_DIR={{ ocis_config_path }}
OCIS_BASE_DATA_PATH={{ ocis_data_path }}
