# {{ ansible_managed }}

OCIS_URL={{ ocis_url }}
PROXY_HTTP_ADDR={{ ocis_proxy_http_address }}
PROXY_TLS={{ ocis_proxy_tls }}
OCIS_INSECURE={{ ocis_insecure }}

OCIS_LOG_LEVEL={{ ocis_log_level }}

OCIS_CONFIG_DIR={{ ocis_config_path }}
OCIS_BASE_DATA_PATH={{ ocis_data_path }}
